<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Dobrodošli u Flask Chatbot</h1>
        <form action="/ask" method="post">
            <label for="question">Postavi Pitanje:</label>
            <input type="text" id="question" name="question" required>
            <button type="submit">Pošalji</button>
        </form>
        
        {% if response %}
            <div class="response-container">
                <h2>Odgovor:</h2>
                <p>{{ response }}</p>
                <h3>Izvori:</h3>
                
            </div>
        {% endif %}
    </div>
</body>
</html>
